$indexEnable = hexo-config('cover.index_enable')

#recent-posts
  .recent-post-items
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: 20px 0

  & > .recent-post-item:not(:first-child),
  .recent-post-items > .recent-post-item:not(:first-child)
    animation: slide-in .6s .4s backwards
    will-change: transform

  & > .recent-post-item,
  .recent-post-items > .recent-post-item
    @extend .cardHover
    display: flex
    flex-direction: column
    overflow: hidden
    width: calc(50% - 10px)
    height: auto
    min-height: 0
    position: relative
    border-radius: 12px
    box-shadow: none
    transition: all .3s ease 0s

    .recent-post-info-top-tips
      display: flex
      margin-top: 20px

    .unvisited-post
      display: flex
      position: relative
      color: var(--second-text-color)
      font-size: .75rem
      text-decoration: none

      &:visited
        color: var(--card-bg)

    .recent-post-info
      margin-top: 0
      position: relative

      .recent-post-info-top
        position: relative
        width: 100%
        padding: 0 32px
        transition: .3s

        .article-categories-original
          display: flex
          position: relative
          margin-right: 8px
          color: var(--second-text-color)
          font-size: .75rem

        .newPost
          display: flex
          position: relative
          margin-right: 8px
          color: var(--second-text-color)
          font-size: .75rem

      .article-title
        display: -webkit-box
        overflow: hidden
        width: 100%
        margin-top: 0
        margin-bottom: 0
        color: var(--font-color)
        font-size: 20px
        font-weight: 700
        line-height: 30px
        transition: .3s
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2

        +maxWidth768()
          if hexo-config('post_meta.page.date_type') == 'both'
            line-height: 23px
          font-size: 19px

    &:hover
      img.post-bg
        filter: brightness(.82) !important
        transform: scale(1.03) !important
        transition: .3s ease-in-out

    &.ads-wrap
      display: block !important
      width: 100%
      height: auto !important

    .post_cover
      overflow: hidden
      width: 100%
      height: 225px

      +maxWidth768()
        width: 100%
        height: 208px

      img.post-bg
      .post-bg
        border-radius: 0
        width: 100%
        height: 100%
        object-fit: cover
        transition: all .6s ease 0s

      &.right
        order: 0

    & > .recent-post-info
      width: 100%
      min-height: 174px
      cursor: pointer
      position: relative
      padding: 0
      display: inline-block
      overflow: hidden

      .sticky-warp
        display: flex
        align-items: center
        justify-content: center
        margin-right: 8px
        line-height: 23px

        .sticky
          color: $sticky-color
          font-size: 12px

      &.no-cover
        width: 100%

        +maxWidth768()
          padding: 30px 20px

        &:hover
          color: $text-hover

      & > .article-meta-wrap
        position: absolute
        left: 0
        bottom: 30px
        display: flex
        flex-wrap: nowrap
        flex-direction: row-reverse
        align-items: center
        justify-content: space-between
        width: 100%
        padding: 0 32px
        color: var(--font-color)
        font-size: .7rem
        transition: .3s

        if hexo-config('post_meta.page.date_type') == 'both'
          flex-direction: column
          white-space: nowrap
          text-overflow: ellipsis
          bottom: 0

          +maxWidth768()
            bottom: 20px
        else
          +maxWidth768()
            bottom: 20px
            flex-direction: column
            align-items: flex-start

        .article-meta
          if hexo-config('post_meta.page.date_type') != 'both'
            display: inline-block
            margin: 0 8px 0 0
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis

        & > .post-meta-date
          color: var(--font-color)
          font-size: .875rem
          white-space: nowrap

          if hexo-config('post_meta.page.date_type') == 'both'
            display: inline-block
            overflow: hidden
            text-overflow: ellipsis

          +maxWidth500()
            font-size: 13px

        i
          margin: 0 4px 0 0

        .article-meta-label
          if hexo-config('post_meta.page.label')
            padding-right: 4px
          else
            display: none

        .article-meta-separator
          margin: 0 6px

        .article-meta-link
          margin: 0 4px

        if hexo-config('post_meta.page.date_format') == 'relative'
          time
            display: none

        a
          color: var(--font-color)
          font-size: 14px
          margin-right: 4px

          span
            pointer-events: none

          &:hover
            color: $text-hover

      & > .content
        @extend .limit-more-line
        display: none
        -webkit-line-clamp: 2

  +maxWidth900()
    & > .recent-post-item,
    .recent-post-items > .recent-post-item
      width: 100%

  +maxWidth768()
    .recent-post-items
      gap: 16px

    & > .recent-post-item,
    .recent-post-items > .recent-post-item
      width: 100%

      .post_cover
        width: 100%
        height: 208px

      & > .recent-post-info
        min-height: 168px

        .recent-post-info-top
          padding: 0 20px

        & > .article-meta-wrap
          padding: 0 20px

      .article-title
        font-size: 1.16rem
        line-height: 1.45
